@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=IBM+Plex+Sans:ital,wght@0,400;1,300&family=Inter:wght@300&family=Lato:ital,wght@1,300&family=Mulish:ital,wght@1,300&family=Oswald:wght@300;400&family=Poppins:wght@400;600&display=swap');

:root {
    --primary:#4f515a;
    --secondary:#ebebeb;
    -warning:#da0f41;
}

* {
    margin: 0;
    padding: 0;
    color:var(--primary);
    font-family: 'Oswald',sans-serif;
}

body {
    background: #fafafa;
}

a{
    text-decoration: none;
   
}

button, .btn {
    background: var(--secondary);
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;

}

button:hover, .btn:hover {
    background: var(--primary);
    color:white;
}

button:disabled{
    opacity: 0.5;
    color: var(--primary);
    background: var(--secondary);
    cursor: not-allowed;
}

form {
    max-width: 400px;
    margin:0 auto;
    padding: 30px;
    outline: none;
    display: block;
    background: white;
}

input,textarea{
    border: 0;
    border-bottom: 1px solid var(--secondary);
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
}

.error {
    color: var(--warning);
    font-size: 14px;
    margin: 16px 0;
}